<div class="div-addItem">
  <form [formGroup]="addItemForm" class="form-addItem" (ngSubmit)="onSubmit(addItemForm.value)">
    <p *ngFor="let alert of alerts">
      <ngb-alert [type]="alert.type" (close)="close(alert)">{{ alert.message }}</ngb-alert>
    </p>
    
    <!-- bootstrap utilities/screenreaders   -->
    <label for="category">Category</label>
    <select formControlName="category" class="form-control">
      <option>Electronic</option>
      <option>Car</option>
      <option>Watch</option>
    </select>

    <label for="subCategory">Sub Category</label>
    <select formControlName="subCategory" class="form-control">
      <option>Mobile</option>
      <option>computer</option>
      <option>camera</option>
    </select>

    <label for="itemName">Item Name</label>
    <input formControlName="itemName" type="text" class="form-control">

    <label for="price">Price</label>
    <input formControlName="price" type="text" class="form-control">

    <label for="stock">No. of Stock Items</label>
    <input formControlName="stock" type="text" class="form-control">

    <br>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Save & Sell Item</button>
  </form>
</div>
