<div class="container">
  <p *ngFor="let alert of alerts">
    <ngb-alert [type]="alert.type" (close)="close(alert)">{{ alert.message }}</ngb-alert>
  </p>
  <form [formGroup]="stockForm" class="form-signin" (ngSubmit)="onSubmit(stockForm.value)">
    <table class="table table-striped">
      <thead>
       <tr style="background-color:#87ded0">
        <th width="20%">ItemName</th>
        <th width="20%">Category</th>
        <th width="20%">subcategory</th>
        <th width="20%">Price</th>
        <th width="20%">Stock</th>
      </tr> 
      </thead>
      <tbody>
      <tr *ngFor="let item of allItems; index as i">
        <td>{{item.itemName}}</td>
        <!-- <td>{{item.category}}</td>
        <td>{{item.subCategory}}</td> -->
        <td>Electronic</td>
        <td>Mobile</td>
          <td>
            $<input type="text" class="form-control" placeholder="price"
              value="{{item.price}}">
          </td>
          <td><input type="text" class="form-control"  placeholder="stock"
            value="{{item.stock}}">
          </td>
      </tr>
      </tbody>
    </table>

  </form>
  <div style="width: 90%;">
    <button class="btn btn-lg btn-primary btn-block" type="submit">Save & Sell Item</button>
  </div>
</div>