<div class="div-signin">

  <form [formGroup]="loginForm" class="form-signin" (ngSubmit)="onSubmit(loginForm.value)">
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <div style="text-align: left">Sign in as :
      <div class="form-check-inline">
          <label for="buyer" class="form-check-label">
              <input 
                  type="radio" 
                  class="form-check-input"
                  formControlName="role" 
                  value="buyer"
                  [(ngModel)]="role"/>
              Buyer
          </label>
      </div>
      <div class="form-check-inline">
          <label for="buyer" class="form-check-label">
              <input 
                  type="radio" 
                  class="form-check-input"
                  formControlName="role" 
                  value="seller"
                  [(ngModel)]="role"/>
              Seller
          </label>
      </div>
    </div>
    <p *ngFor="let alert of alerts">
      <ngb-alert [type]="alert.type" (close)="close(alert)">{{ alert.message }}</ngb-alert>
    </p>

    <!-- bootstrap utilities/screenreaders   -->
    <label for="inputUsername" class="sr-only">User name</label>
    <input formControlName="name" id="inputUsername" class="form-control" placeholder="username/mail" type="text">

    <label for="inputPassword" class="sr-only">Password</label>
    <input formControlName="password" type="password" id="inputPassword" class="form-control" placeholder="Password" >

    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember Me
      </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
    <button  type="button" class="btn btn-outline-primary btn-block" (click)="buyerSignUp()">Buyer Sign Up</button>
    <button  type="button" class="btn btn-outline-primary btn-block" (click)="sellerSignUp()">Seller Sign Up</button>
  </form>

</div>
