<div class="container">

  <table class="table table-striped" style="width: 70%;margin-top: 10px;">
    <thead>
    <!-- <tr>
      <th scope="col">#</th>
      <th scope="col">Country</th>
      <th scope="col">Area</th>
      <th scope="col">Population</th>
    </tr> -->
    </thead>
    <tbody>
    <!-- <tr *ngFor="let country of countries; index as i"> -->
      <tr>
        <th scope="row">11</th>
        <td>
          <img src="./assets/img/50yin.jpg" class="mr-2 img-size">
        </td>
        <td>Item1</td>
        <td>$300</td>
        <td>2</td>
        <td><button class="btn btn-lg btn-primary" style="margin-left: 10px;zoom: 70%;" type="submit">View</button></td>
      </tr>
      <tr>
        <th scope="row">11</th>
        <td>
          <img src="./assets/img/50yin.jpg" class="mr-2 img-size">
        </td>
        <td>Item2</td>
        <td>$500</td>
        <td>3</td>
        <td><button class="btn btn-lg btn-primary" style="margin-left: 10px;zoom: 70%;" type="submit">View</button></td>
      </tr>
    </tbody>
  </table>
</div>