<div class="div-signUp">
  <form [formGroup]="buyerForm" class="form-signup" (ngSubmit)="onSubmit(buyerForm.value)">
    <h1 class="h3 mb-1 font-weight-normal">
      welcom to register the buyer of Happy Emart
    </h1>

    <p *ngFor="let alert of alerts">
      <ngb-alert [type]="alert.type" (close)="close(alert)">{{ alert.message }}</ngb-alert>
    </p>

    <!-- bootstrap utilities/screenreaders   -->
    <input formControlName="name" class="form-control" placeholder="username" type="text">
    <input formControlName="password" type="password" class="form-control" placeholder="Password" >
    <input formControlName="confirmPassword" type="password" class="form-control" placeholder="confirmPassword" >
    <input formControlName="mail" type="email" class="form-control" placeholder="mail" >
    <input formControlName="mobile" type="text" class="form-control" placeholder="mobile" >

    <br>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button>
    <button  type="button" class="btn btn-outline-primary btn-block" (click)="backToLogin()">Back To Login</button>
  </form>
</div>
